@import "tailwindcss";
@import "./variables/flex-gap.css";
@import "./variables/themes.css";
@import "./variables/custom-styles.css";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --scroll-bar-width: 2px;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);
    --color-forth: var(--forth);
    --color-five: var(--five);
    --color-six: var(--six);
    --color-seven: var(--seven);
    --color-login-btn: var(--login-btn);
    --color-circle-left: var(--circle-left);
    --color-circle-right: var(--circle-right);
    --color-circle-middle: var(--circle-middle);
    --color-filter-options: var(--filter-options);
    --color-checkbox-border: var(--checkbox-border);
    --color-checkbox-bg: var(--checkbox-bg);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --shadow-btn: var(--btn-shadow);
    --profile-banner: var(--profile-banner);
    /* 800px */
    --breakpoint-sm: 50rem;
    /* 1024px */
    --breakpoint-md: 64rem;
    /* 1280px */
    --breakpoint-lg: 80rem;
    /* 1440px */
    --breakpoint-xl: 90rem;
    /* loading animation */
    --animate-loading: loading 0.8s infinite linear;

    @keyframes loading {

        0%,
        100% {
            height: var(--h);
        }

        50% {
            height: 0;
        }
    }
}

::-webkit-scrollbar {
    width: var(--scroll-bar-width);
    height: var(--scroll-bar-width);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    width: var(--scroll-bar-width);
    height: var(--scroll-bar-width);
    border-radius: var(--scroll-bar-width);
    background: rgb(255 255 255 / 0.2);
}