@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #184743;
    --secondary: #007956;
    --tertiary: #9cff8d;
    --forth: #038360;
    --five: #daffe1;
    --six: #91fd8b;
    --seven: #0079564D;
    --eight-rgb: 140 250 159;
    --eight: rgb(var(--eight-rgb));
    --btn-shadow: 0px 2px 16px 0px var(--btn-shadow-color);
    --bg-profile:
        radial-gradient(ellipse min(666px, 100vw) min(666px, 100vw) at 0 1600px, var(--circle-left), transparent),
        radial-gradient(ellipse min(666px, 100vw) min(666px, 100vw) at 100% 2200px, var(--circle-right), transparent),
        radial-gradient(ellipse min(1000px, 70%) 100px at 50% calc(100% - 400px), var(--circle-middle), transparent 80%),
        radial-gradient(ellipse 90% 500px at bottom, var(--circle-right), transparent);
    --bg-line:
        0 0 1px rgb(0 0 0 / 0.2),
        0 5px 5px rgb(var(--eight-rgb) / 0.8),
        0 10px 5px rgb(var(--eight-rgb) / 0.6),
        0 16px 5px rgb(var(--eight-rgb) / 0.3),
        0 22px 5px rgb(var(--eight-rgb) / 0.2),
        0 27px 5px rgb(var(--eight-rgb) / 0.1),
        0 32px 5px rgb(var(--eight-rgb) / 0.1),
        0 37px 5px rgb(var(--eight-rgb) / 0.1),
        0 42px 5px rgb(var(--eight-rgb) / 0.1),
        inset 0 0 1px rgb(0 0 0 / 0.2),
        inset 0 -4px 5px rgb(var(--eight-rgb) / 0.6),
        inset 0 -8px 5px rgb(var(--eight-rgb) / 0.4),
        inset 0 -12px 5px rgb(var(--eight-rgb) / 0.2),
        inset 0 -16px 5px rgb(var(--eight-rgb) / 0.1);
    --basis-gap-4: 100% - var(--spacing) * 4;
    --1\/2-basis-gap-4: calc(calc(var(--basis-gap-4) * 1) / 2);
    --1\/3-basis-gap-4: calc(calc(var(--basis-gap-4) * 2) / 3);
    --basis-gap-7: 100% - var(--spacing) * 7;
    --1\/3-basis-gap-7: calc(calc(var(--basis-gap-7) * 2) / 3);
    --basis-gap-60px: 100% - 60px;
    --1\/2-basis-gap-60px: calc(calc(var(--basis-gap-60px) * 1) / 2);
    --basis-gap-30px: 100% - 30px;
    --1\/2-basis-gap-30px: calc(calc(var(--basis-gap-30px) * 1) / 2);
    --basis-gap-overview: 100% - 61px;
    --1\/2-basis-gap-overview: calc(calc(var(--basis-gap-overview) * 1) / 2);
}

:root:has([data-theme="green"]) {
    --primary: #184743;
    --secondary: #007956;
    --tertiary: #9cff8d;
    --forth: #038360;
    --five: #daffe1;
    --six: #91fd8b;
    --seven: #0079564D;
    --eight: #8CFA9F;
    --circle-left: #6a8d89;
    --circle-right: #487c57;
    --circle-middle: #336B4C;
    --profile-banner: url("/banner-green.png");
    --btn-shadow-color: rgba(197, 233, 118, 0.6);
}

:root:has([data-theme="blue"]) {
    --primary: #3c2e7e;
    --secondary: #25166a;
    --tertiary: #e2e2f8fd;
    --forth: #3f35bd;
    --five: #457ae5;
    --six: #ffffff;
    --seven: #0079564D;
    --eight: #8CFA9F;
    --circle-left: #4755d0;
    --circle-right: #3a75ea;
    --circle-middle: #336B4C;
    --profile-banner: url("/banner-blue.png");
    --btn-shadow-color: rgba(145, 118, 233, 0.6);
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);
    --color-forth: var(--forth);
    --color-five: var(--five);
    --color-six: var(--six);
    --color-seven: var(--seven);
    --color-eight: var(--eight);
    --color-circle-left: var(--circle-left);
    --color-circle-right: var(--circle-right);
    --color-circle-middle: var(--circle-middle);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --shadow-btn: var(--btn-shadow);
    --profile-banner: var(--profile-banner);
}