:root {
    --b2b-bg: #021212;
    --b2b-lv1: #DAFFE1;
    --b2b-lv2: #91FD8B;
    --b2b-lv3: #50AC6A;
    --b2b-lv4: #007956;
    --b2b-lv5: #0D564B;
    --b2b-lv6: #184743;
    --appointment-btn: #FFE500;
    --circle-left: rgb(34 0 255 / 0.3);
    --circle-right: rgb(0 208 184 / 0.5);
    --filter-options: #252932;
    --checkbox-border: #C1C5C6;
    --checkbox-bg: #3E424B;
    --gradient-start: #191D26;
}

[data-card-theme="a"] {
    --card-text: #000;
    --card-btn-bg: #006A5E;
    --card-btn-text: #fff;
}

[data-card-theme="b"] {
    --card-text: #fff;
    --card-btn-bg: #fff;
    --card-btn-text: #000;
}

[data-card-theme="c"] {
    --card-text: #fff;
    --card-btn-bg: #fff;
    --card-btn-text: #00007F;
}

[data-card-theme="green"] {
    --gradient-end: #0D464A;
    --attribute-block: #21464F;
}

[data-card-theme="blue"] {
    --gradient-end: #2C266F;
    --attribute-block: #2A2965;
}

[data-card-theme="red"] {
    --gradient-end: #36193A;
    --attribute-block: #3E2849;
}

:root:has([data-theme="green"]) {
    --b2b-lv1: #DAFFE1;
    --b2b-lv2: #91FD8B;
    --b2b-lv3: #50AC6A;
    --b2b-lv4: #007956;
    --b2b-lv5: #0D564B;
    --b2b-lv6: #184743;
    --highlight-start: 140 250 159;
    --highlight-end: 140 250 159;
    --circle-left: #6a8d89;
    --circle-right: #487c57;
    --profile-banner: url("/banner-green.png");
    --btn-shadow-color: rgba(197, 233, 118, 0.6);
}

:root:has([data-theme="blue"]) {
    --b2b-lv1: #E9EAF5;
    --b2b-lv2: #fff;
    --b2b-lv3: #3F35BD;
    --b2b-lv4: #3F35BD;
    --b2b-lv5: #302885;
    --b2b-lv6: #2C266F;
    --highlight-start: 84 65 255;
    --highlight-end: 50 59 193;
    --circle-left: #4755d0;
    --circle-right: #3a75ea;
    --profile-banner: url("/banner-blue.png");
    --btn-shadow-color: rgba(145, 118, 233, 0.6);
}

:root:has([data-theme="red"]) {
    --b2b-lv1: #fff0fa;
    --b2b-lv2: #fff;
    --b2b-lv3: #ee3fb4;
    --b2b-lv4: #aa267e;
    --b2b-lv5: #701b54;
    --b2b-lv6: #350D28;
    --highlight-start: 102 43 82;
    --highlight-end: 103 149 201;
    --circle-left: #405684;
    --circle-right: #405684;
    --profile-banner: url("/banner-red.png");
    --btn-shadow-color: rgba(145, 118, 233, 0.6);
}