:root:has([data-theme="green"]) {
    --primary: #184743;
    --secondary: #007956;
    --tertiary: #9cff8d;
    --forth: #038360;
    --five: #daffe1;
    --six: #91fd8b;
    --seven-rgb: 140 250 159;
    --circle-left: #6a8d89;
    --circle-right: #487c57;
    --circle-middle: #336B4C;
    --profile-banner: url("/banner-green.png");
    --btn-shadow-color: rgba(197, 233, 118, 0.6);
}

:root:has([data-theme="blue"]) {
    --primary: #3c2e7e;
    --secondary: #25166a;
    --tertiary: #e2e2f8fd;
    --forth: #3f35bd;
    --five: #457ae5;
    --six: #ffffff;
    --seven-rgb: 84 65 255;
    --circle-left: #4755d0;
    --circle-right: #3a75ea;
    --circle-middle: #336B4C;
    --profile-banner: url("/banner-blue.png");
    --btn-shadow-color: rgba(145, 118, 233, 0.6);
}

:root:has([data-theme="red"]) {
    --primary: #184743;
    --secondary: #007956;
    --tertiary: #9cff8d;
    --forth: #038360;
    --five: #daffe1;
    --six: #91fd8b;
    --seven-rgb: 140 250 159;
    --circle-left: #6a8d89;
    --circle-right: #487c57;
    --circle-middle: #336B4C;
    --profile-banner: url("/banner-red.png");
    --btn-shadow-color: rgba(197, 233, 118, 0.6);
}